
.shirt { 
    height: 20em;
    width: 23%;
    border-radius: 9px;
    flex-shrink: 0;
    margin-right: 1%;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    position: relative;

    .img-wrapper {
	height: 100%;
	width: 100%;
	overflow: hidden;
	img { 
	    max-height: 100%;
	    max-width: 100%;
	    width: 100%;
	    height: 100%;
	    object-fit: cover;
	}
    }

    .content {
	text-align: left;
	padding: 2%;
	font-size: 1em;
	position: absolute;
	bottom: 0;
	color: black;
	background: white;
	width: 100%;

	.col-container{
	    display: flex;
	    div {
		border: 1px solid black;
		height: 16px;
		width: 16px;
		margin-right: 2px;
		margin-left: 2px;
	    }
	}

	.add {
	    &:hover { cursor: pointer }
	}
    }
}

